[submodule "peoples_graph"]
	path = peoples_graph
	url = git@github.com:Dmitrij-Kochetov/peoples_graph.git
[submodule "peoples_rest"]
	path = peoples_rest
	url = git@github.com:Dmitrij-Kochetov/peoples_rest.git
[submodule "peoples_kafka"]
	path = peoples_kafka
	url = git@github.com:Dmitrij-Kochetov/peoples_kafka.git
[submodule "peoples_data"]
	path = peoples_data
	url = git@github.com:Dmitrij-Kochetov/peoples_data.git
